

.cab{
	margin-top: 0.3em;
	font-size: 2em;
	color: #00FF00;
}

.cab:hover{
	color: black;
}

#busc
{
	margin-top: 3em;
	
}

.preto{
	color: black;
}


.link{
	
	font-size: 1.7em;
	color: #00FF00;
	margin-top: 0.1em;
}

.pro{
	color: blue;
}


.sede{
	color: white;
	
}

.sede2{
	color: white;
}

.sede:hover{
	color:black;
}


.link2{
	color: white;
}

.cors{
	color: white;
	background-color: black;
}

.link2:hover{
	color: #00FF00;
}

#hh:hover{
	color: white;
}


#rodape{
	background-color: black;
}

#rodape a{
	background-color: black;
}

.font{
	font-size: 1.5em;
}

#rd{
	margin-top: 1.4em;
	font-size: 1.3em;
}
.link:hover{
	color: black;
}

.carse{
	margin-top: 9.9em;
}



